{% extends "account/base.html" %}
{% load i18n %}
{% block title %}{% translate "Password changed" %} · {{ site_settings.journal_name }}{% endblock %}
{% block auth_content %}
  <span class="pillar-icon mb-4">{% include "includes/icon.html" with name="check-circle" size=22 %}</span>
  <h1 class="text-2xl mb-2">{% translate "Password changed" %}</h1>
  <p class="muted">{% translate "Your new password is in place. You can sign in with it now." %}</p>
  <a class="btn btn-primary w-full mt-6" href="{% url 'account_login' %}">{% translate "Sign in" %}</a>
{% endblock %}
